extends layout

block content
  div#title Dine
  div#subtitle Webdeveloper & casual gamer
  hr#line
  ul#links
   li
    a(href="https://osu.ppy.sh/u/2630385") osu!
   li
    a(href="https://twitch.tv/dlne") twitch
   li
    a(href="https://twitter.com/dine_osu") twitter
   li
    a(href="https://discord.gg/UfsupHX") discord
