extends layout

block content
  div.card
      .wrap
        h1 My projects
          .task
            .abstract
              h3 abstract
              p Default text
            .details
              .details__inner
                h3 test 
                p test test
